* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
button {
  cursor: pointer;
  border: 0 none;
  outline: 0;
}
input {
  outline: 0;
}
a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.hide,
.none {
  display: none;
}
html {
  min-width: 1190px;
  color: #666;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  background-color: #f4f4f4;
}
a {
  color: #999;
}
a:hover {
  color: #f10214;
}
.content {
  margin: 0 auto;
  width: 1190px;
}
#shortcut {
  border-bottom: 1px solid #ddd;
  background-color: #e3e4e5;
  height: 30px;
  line-height: 30px;
}
#shortcut li {
  float: left;
}
#shortcut li a {
  padding: 0 6px;
}
.navigation {
  background-color: #fff;
  padding: 30px 0;
}
.navigation .logo {
  width: 190px;
  height: 120px;
}
.navigation .searchbox {
  width: 550px;
  height: 35px;
  border: 2px solid #f10214;
  position: relative;
}
.navigation .searchbox input {
  border: 0 none;
  width: 485px;
  height: 100%;
  padding: 2px 44px 2px 17px;
}
.navigation .searchbox .icon-camera {
  position: absolute;
  right: 72px;
  top: 2px;
  font-size: 18px;
}
.navigation .searchbox button {
  width: 58px;
  height: 100%;
  background-color: #f10214;
  color: #fff;
  font-size: 22px;
}
